* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.text-align {
  justify-content: left;
  align-items: center;
}

.pad-left {
  padding-left: 10px;
}

.height {
  height: 3em;
}

.border {
  border: 1px black solid;
}

body {
  background-color: rgba(240, 240, 240, 0.836);
}

.container {
  width: 70%;
  margin-left: 15%;
  background: #fff;
  margin-top: 15vh;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.253);
}

.app-title {
  font-size: 1.4em;
}

.move {
  height: 1em;
}

.refresh {
  height: 1.1em;
}

.add-button {
  transform: rotate(90deg);
}

.todo-item {
  list-style: none;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4em;
  cursor: move;
}

.left {
  align-items: center;
}

input.check {
  height: 2em;
  width: 2em;
  margin-right: 1.5em;
}

p.strike {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.507);
}

.right {
  margin-right: 1em;
}

.right-1 {
  margin-right: 1em;
  justify-content: end;
}

.js-todo-input {
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.541);
  border: none;
}

.fa-level-down-alt {
  margin-right: 1em;
}

.p-div {
  justify-content: space-between;
  align-items: center;
}

.clear {
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  height: 3.4em;
  color: rgba(0, 0, 0, 0.541);
  background-color: rgba(240, 240, 240, 0.836);
}

.bg-red {
  background-color: red;
}
